

/* Général */

	body {
		margin: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		color: #D9B310;
	}
	
	

/* Header */
															
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		background-color: #0B3C5D;
		flex-grow: 5;
		
		font-family: 'Dancing Script', cursive;
	}

	h1 {
		font-size: 150px;
		
		padding: 20px;
		border: 2px solid ;
		animation-name: changement;
		animation-duration: 5s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		
	}

	@keyframes changement {
		from {color: #D9B310;}
		to {color: #F0E3B1;}
	}

	h5 {
		font-size: 25px;
		text-align: center;
	}




	/* Main */
	
	main {
		display: flex;
		justify-content: center;
		background-color: #1D2731;
		padding: 20px;
		flex-grow: 1;
	}


	.colonne {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 10px;
		
		transition: 0.5s;
		border-left-style: solid;
		border-right-style: solid;
		border-size: 1px;
		border-color: rgba(217,179,160, 0);
	}

	.colonne p {
		opacity: 0%;
		transition: 0.5s;
		font-family: 'Piazzolla', serif;
	}

	.logo {
		display: block;
		max-width: 200px;
		width: 50%;
		border-radius: 50%;
		filter: grayscale(100%);
		transition: 0.5s;
		margin: 0 auto;
	}

	.colonne:hover {
		border-color: rgba(217,179,160, 0.8);
	}

	.colonne:hover .logo {
		filter: grayscale(0%);
		box-shadow: 0 0 10px white;
	}

	.colonne:hover p {
		opacity: 100%;
	}


