/* Général */

* {
	margin: 0;
	padding: 0;
}

/* NAV */


nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: #1D2731;
		padding: 20px;
}

.logo {
		display: block;
		max-width: 100px;
		width: 50%;
		border-radius: 50%;
		filter: grayscale(100%);
		transition: 0.5s;
		margin: 0 auto;
	}
	
.logo:hover {
		filter: grayscale(0%);
		box-shadow: 0 0 10px white;
	}

