/* GENERAL */

* {
    margin: 0;
    padding: 0;
}



main {
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

.flex {
    display: flex;
}

.section {
    height: 100vh;
}

.padding20 {
    padding: 20px;
}


/*Animations*/
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes curseur {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: purple;
    }
}



@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




/* NAV BARRE */

nav {
    align-items: center;
    justify-content: space-between;
    background-color: #1D2731;
    color: #D9B310;
    font-size: 1.6em;
    font-family: 'Dancing Script', cursive;
}

    nav div {
        align-items: center;
    }

.logo {
    display: block;
    max-width: 100px;
    width: 50%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s;
    margin: 0 auto;
}

    .logo:hover {
        filter: grayscale(0%);
        box-shadow: 0 0 10px white;
    }

#logoReplika {
    max-width: 100px;
    width: 20%;
    border-radius: 50%;
}




/* SECTION 1 
    a. titre
    b. sous titre
*/

#section1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*titre*/
#titre1 {
    font-size: 10em;
    overflow: hidden;
    border-right: 10px solid purple;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), curseur .75s step-end infinite;
}


/*sous titre*/
#section1 h3 {
    font-size: 2em;
    color: purple;
    animation-name: appear;
    animation-duration: 10s;
}





/* SECTION 2
    a. tchat
    b. barre de réponse
*/


#section2 {
    flex-direction: column;
    background: rgb(39,67,77);
    background-image: url("https://i.postimg.cc/CxPSnhCw/pexels-photo-1146134.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*tchat*/
#bulles {
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5%;
}

    #bulles p {
        max-width: 40vw;
        background-color: rgba(245,244,239,0.6);
        border-radius: 25px;
        border: 2px solid white;
        font-size: 1em;
    }


/*barre de réponse*/
#barre {
    background-color: rgba(34,71,108,0.6);
    height: 15vh;
    color: white;
    align-items: center;
    justify-content: center;
}

.enchante {
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
    transition: 0.5s;
}

    .enchante:hover {
        background-color: rgba(245,244,239,0.3);
    }




/*SECTION 3 */

#section3 {
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

#section3 img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



/* SECTION 4 */

#section4 {
    flex-direction: column;
}

/*slogan haut */
#slogan {
    height: 20vh;
    text-align: center;
    background-color: rgba(245,244,239,0.7);
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}


#main4 {
    height: 80vh;
}


/*bloc gauche*/
#logo4 {
    width: 50%;
    justify-content: center;
    align-items: center;
}

    #logo4 img {
        width: 50%;
    }



/*bloc droite */
#bloc4 {
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
}


.petitsBlocs {
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(245,244,239,0.4);
    border: 3px solid rgba(245,244,239,1);
}


.button {
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}


.petitsBlocs a {
    color: rgba(112,84,211,0.7);
    padding: 5px;
}

    .petitsBlocs a:hover {
        color: black;
        background-color: rgba(245,244,239,1);
    }




/* FOOTER */

footer {
    bottom: 0;
    background-color: #F0E3B1;
}

    footer img {
        height: 50px;
        display: block;
        margin: 0 auto;
        transition: 0.5s;
    }

        footer img:hover {
            transform: scale(1.2);
        }
