/* Général */

* {
	margin: 0;
	padding: 0;
}

/* NAV */

	nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #1D2731;
			padding: 20px;
			color: #D9B310;
			font-size: 20px;
			font-family: 'Dancing Script', cursive;
			
	}

	nav div {
		display: flex;
		align-items: center;
	}

	#logoIbis {
			max-width: 100px;
			width: 20%;
			border-radius: 50%;
			padding-left: 5px;
	}

	.logo {
			display: block;
			max-width: 100px;
			width: 50%;
			border-radius: 50%;
			filter: grayscale(100%);
			transition: 0.5s;
			margin: 0 auto;
		}
		
	.logo:hover {
			filter: grayscale(0%);
			box-shadow: 0 0 10px white;
		}
	
	
	
#section1 {
	height: 100vh;
	background-image: url("https://i.postimg.cc/8CM3rY5P/pexels-free-creative-stuff-5052361.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	font-family: 'Cabin Sketch', cursive;
	color: black;
	
	
}


#section1 h1 {
	font-size: 5em;
	text-shadow: 0 0 10px white;
	animation-name: appear;
	animation-duration: 3s;
			}



#section1 h3 {
	font-size: 3em;
	text-shadow: 0 0 5px white;
	
	animation-name: appear;
	animation-duration: 7s;
	
}


#section1 article {
	padding: 20px;
	}
			
		
	@keyframes appear {
	from {opacity: 0;}
	to {opacity:1;}
			}
	


#section2 {
	height: 200vh;
	background-color: rgba(223, 220, 215,0.5);
}

