/* Général */

* {
	margin: 0;
	padding: 0;
}


.flex {
	display: flex;
}

.section {
	height: 100vh;
}

.padding20 {
	padding: 20px;
}


@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* NAV BARRE */

nav {
	align-items: center;
	justify-content: space-between;
	background-color: #1D2731;
	color: #D9B310;
	font-size: 1.6em;
	font-family: 'Dancing Script', cursive;
}

	nav div {
		align-items: center;
	}

#logoIbis {
	max-width: 100px;
	width: 20%;
	border-radius: 50%;
}

.logo {
	display: block;
	max-width: 100px;
	width: 50%;
	border-radius: 50%;
	filter: grayscale(100%);
	transition: 0.5s;
	margin: 0 auto;
}

	.logo:hover {
		filter: grayscale(0%);
		box-shadow: 0 0 10px white;
	}



/*SECTION 1*/
#section1 {
	flex-direction: column;
	justify-content: center;
	text-align: right;
	font-family: 'Cabin Sketch', cursive;
	color: black;
	background-image: url("https://i.postimg.cc/8CM3rY5P/pexels-free-creative-stuff-5052361.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


#section1 h1 {
	font-size: 5em;
	text-shadow: 0 0 10px white;
	animation-name: appear;
	animation-duration: 5s;
}


#section1 h3 {
	font-size: 3em;
	text-shadow: 0 0 5px white;
	
	animation-name: appear;
	animation-duration: 7s;
	
}


/* SECTION 2 */
#section2 {
	flex-direction: column;
	background-color: rgba(223, 220, 215,0.5);
}

#main2 {
	justify-content: space-around;
}

.bloc2 {
	flex-grow: 1;
	justify-content: justify;
	position: relative;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.texte {
}


.bloc2:hover .overlay {
	opacity: 1;
}



/*SECTION 4*/

#downloads {
	flex-direction: column;
}

.bouton {
	max-width: 25vw;
}